<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Hangman</title>
</head>
<body>
    <div class="container">
        <h1>Hangman</h1>



        {% if hang is empty %}

        <form class="form-horizontal" action="/new" method="post">
            <div class="form-group">
                <button type="submit" name="button">Start a new game</button>
            </div>
        </form>

        {% elseif hang is not empty %}

            {% if hang[0].getLoseCheck == "true" %}
            <p>Message: {{hang[0].getMessage}}</p>
            {% else %}

            <p>Guess: {{hang[0].getGuess}}</p>
            <p>Win Check: {{hang[0].getWinCheck}}</p>
            <p>Lose Check: {{hang[0].getLoseCheck}}</p>
            <p>Previous Guesses: {{dump(hang[0].getPreviousGuess)}}</p>
            <p>Remaining Guesses: {{hang[0].getRemainingGuesses}}</p>
            <p>Answer: {{hang[0].getAnswer}}</p>
            <p>Answer Array: {{dump(hang[0].getAnswerArray)}}</p>
            <p>Whole Thing: {{dump(hang[0])}}</p>
            <p>Message: {{hang[0].getMessage}}</p>
            <p>Image State: {{hang[0].getImageState}}</p>

            <form class="form-horizontal" action="/guess" method="post">
                <div class="form-group">
                    <label class="control-label" for="userGuess">Enter your guess:</label>
                    <input class="form-control" name="userGuess" id="userGuess" type="text">
                    <button type="submit" name="button">Submit guess</button>
                </div>
            </form>

            {% endif %}

        <img src="img/Hangman-{{hang[0].getImageState}}.png">

        {% endif %}
        <form class="form-horizontal" action="/delete" method="post">
            <div class="form-group">
                <button type="submit" name="button">New Game</button>
            </div>
        </form>
    </div>

</body>
</html>
